.ms-formlabel{
    font-weight: bold;
}
.ms-formtable {
    top:-10000px;
    left:-10000px;
    position:absolute;
}
.blankcolumn
{
    width:15px;
}

table.table1 tr> td{
    padding-left:5px;
    padding-right:5px;
}

tr.disabledAnchor a{
    pointer-events: none;
    cursor: text;
    color: #444;
    text-decoration: none;
}