<table cellspacing='2' cellpadding='2'><tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Docket Number</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Title'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Status</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Status'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Title of NOI</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Title_x0020_of_x0020_NOI'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Business</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Business'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>SBU</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='SBU'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Pattern Type</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Pattern_x0020_Type'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Business Unit</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Business_x0020_Unit'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Segment</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Segment'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Application</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Application'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Product</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Product'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Project</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Project'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NOI Approval Manager</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NOI_x0020_Approval_x0020_Manager'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Problem</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Problem'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Approaches</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Approaches'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Others Solution</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Others_x0020_Solution'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Utility</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Utility'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Competitive</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Competitive'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Earliest Document</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Earliest_x0020_Document'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Disclosure</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Disclosure'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Other</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Other'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Other Parties 1</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Other_x0020_Parties_x0020_1'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Disclosure 2</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Disclosure_x0020_2'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Other Parties</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Other_x0020_Parties'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Disclosure 3</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Disclosure_x0020_3'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Thirdparty</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Thirdparty'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Confidential</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Confidential'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>DuPont Confidential</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='DuPont_x0020_Confidential'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 1</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 2</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_0'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 3</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_1'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 4</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_2'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 5</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_3'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 6</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_4'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 7</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_5'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 8</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_6'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 9</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_7'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Author 10</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Author_x0020_8'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Authors Other</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Authors_x0020'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Filing Recommendation</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Filing_x0020_Recommendation'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Proposed Foreign Countries</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Proposed_x0020_Foreign_x0020_Cou'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Business Value</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Business_x0020_Value'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Reasons NOI Not Approved</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Reasons_x0020_NOI_x0020_Not_x002'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Priority</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Priority'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Basis for Priority</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Basis_x0020_for_x0020_Priority'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Related Docket</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Related_x0020_Docket'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Related Patent Number</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Related_x0020_Patent_x0020_Numbe'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Filing Type</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Filing_x0020_Type'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Attorney of Record</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Attorney_x0020_of_x0020_Record'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Liaison</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Liaison'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Reason NOI Details Need Editing</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Reason_x0020_NOI_x0020_Details_x'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Reason Examples Need Editing</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Reason_x0020_Examples_x0020_Need'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>TransferredSBU</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='TransferredSBU'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 1</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x0028'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 1)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 1)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x00'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 1)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 2</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00280'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 2)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv0'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 2)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x000'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 2)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x0'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 3</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00281'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 3)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv1'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 3)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x001'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 3)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x1'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 4</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00282'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 4)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv2'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 4)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x002'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 4)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x2'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 5</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00283'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 5)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv3'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 5)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x003'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 5)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x3'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 6</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00284'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 6)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv4'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 6)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x004'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 6)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x4'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 7</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00285'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 7)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv5'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 7)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x005'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 7)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x5'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 8</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00286'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 8)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv6'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 8)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x006'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 8)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x6'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 9</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00287'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 9)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv7'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 9)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x007'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 9)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x7'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventor Name (DuPont) 10</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventor_x0020_Name_x0020__x00288'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Full Name (Inventor 10)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Full_x0020_Name_x0020__x0028_Inv8'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Street (Inventor 10)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Street_x0020__x0028_Inventor_x008'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>City, State, Zip Code, Country (Inventor 10)</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='City_x002c__x0020_State_x002c__x8'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Summary of Invention</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Summary_x0020_of_x0020_Invention'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Related Patent Applications/Patents</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Related_x0020_Patent_x0020_Appli'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Difference With Prior Art</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Difference_x0020_With_x0020_Prio'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Main Claim</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Main_x0020_Claim'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Other Claims</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Other_x0020_Claims'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Examples/Drawings</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Examples_x002f_Drawings'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Patent Application</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Patent_x0020_Application'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Correspondence</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Correspondence'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Draft to Contributor</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Draft_x0020_to_x0020_Contributor'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Draft to Liaison</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Draft_x0020_to_x0020_Liaison'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Draft to Attorney</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Draft_x0020_to_x0020_Attorney'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>DropReason</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='DropReason'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Notes</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Notes'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NOI Submitted Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NOI_x0020_Submitted_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NOI Approved Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NOI_x0020_Approved_x0020_Goal_x0'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NOI Approved Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NOI_x0020_Approved_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Team Notified Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Team_x0020_Notified_x0020_Goal_x'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Team Notified Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Team_x0020_Notified_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Search Initiated Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Search_x0020_Initiated_x0020_Goa'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Search Initiated Actual Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Search_x0020_Initiated_x0020_Act'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Search Completed Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Search_x0020_Completed_x0020_Goa'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Search Completed Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Search_x0020_Completed_x0020_Dat'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Examples Requested Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Examples_x0020_Requested_x0020_D'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Examples Submitted Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Examples_x0020_Submitted_x0020_G'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Examples Submitted Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Examples_x0020_Submitted_x0020_D'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Examples Accepted Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Examples_x0020_Accepted_x0020_Go'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Examples Accepted Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Examples_x0020_Accepted_x0020_Da'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Application Completed Goal Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Application_x0020_Completed_x002'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Application Completed Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Application_x0020_Completed_x0020'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>dAppAdate</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='dAppAdate'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>TransferSBUDate</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='TransferSBUDate'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Dropped Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Dropped_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>dDroppedDate</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='dDroppedDate'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>US Patent Issued Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='US_x0020_Patent_x0020_Issued_x00'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>US Patent Number</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='US_x0020_Patent_x0020_Number'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>US Patent Document</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='US_x0020_Patent_x0020_Document'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Administrative Authors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Administrative_x0020_Authors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Supervisor Readers</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Supervisor_x0020_Readers'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Document Reader</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Document_x0020_Reader'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Document Author</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Document_x0020_Author'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Inventors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Inventors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Contributing Authors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Contributing_x0020_Authors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>All Contributors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='All_x0020_Contributors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Application Status</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Application_x0020_Status'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>ApproachesText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='ApproachesText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>AT/AL</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='AT_AL'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Categorization</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Categorization'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Competitive Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Competitive_x0020_Text'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>CorrespattText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='CorrespattText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>DateComposed</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='DateComposed'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>DateSubmitted</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='DateSubmitted'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>dDocket Number</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='dDocket_x0020_Number'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Descriptive Section</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Descriptive_x0020_Section'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>File Approved Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='File_x0020_Approved_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>DiffpriorartText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='DiffpriorartText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Patent Liaison</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Patent_x0020_Liaison'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Earliest Document Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Earliest_x0020_Document_x0020_Te'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>ExampleattText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='ExampleattText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>From</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='From'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Group B NOI Approval Manager</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Group_x0020_B_x0020_NOI_x0020_Ap'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Mail</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Mail'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>MainclaimText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='MainclaimText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>MemberName</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='MemberName'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NOI</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NOI'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NotesText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NotesText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>NotesType</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='NotesType'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Other Parties 1 Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Other_x0020_Parties_x0020_1_x002'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Other Parties Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Other_x0020_Parties_x0020_Text'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>OtherclaimsText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='OtherclaimsText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Others Solution Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Others_x0020_Solution_x0020_Text'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>OtherText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='OtherText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>PatappattText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='PatappattText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>PatdocText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='PatdocText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>ProblemText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='ProblemText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Proposed First Commercial Use Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Proposed_x0020_First_x0020_Comme'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Proposed Foreign Countries Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Proposed_x0020_Foreign_x0020_Cou0'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>RelpatentText</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='RelpatentText'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>saveOptions</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='saveOptions'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Summary of Invention Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Summary_x0020_of_x0020_Invention0'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Supervisor</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Supervisor'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Thirdparty Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Thirdparty_x0020_Text'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Utility Text</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Utility_x0020_Text'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>AT_AL VAL</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='AT_AL_x0020_VAL'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Docket #</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Docket_x0020__x0023_'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Goal Filing Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Goal_x0020_Filing_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Priority Level</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Priority_x0020_Level'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Filling Types</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Filling_x0020_Types'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Composed Year</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Composed_x0020_Year'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Patten Year</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Patten_x0020_Year'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Business Value Level</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Business_x0020_Value_x0020_Level'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Transfer SBU Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Transfer_x0020_SBU_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>dAttorney</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='dAttorney'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>FlagEx</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='FlagEx'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>num_TimesModified</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='num_TimesModified'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_AttLiaEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_AttLiaEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_ContrbAuthEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_ContrbAuthEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_ContribInfo</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_ContribInfo'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_ContrNOIDetailEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_ContrNOIDetailEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_ExamplesEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_ExamplesEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_NOIApproverEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_NOIApproverEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_PatAppDevEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_PatAppDevEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Sec_PatDocMgmtEditors</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Sec_PatDocMgmtEditors'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Filing Actual Date</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Filing_x0020_Actual_x0020_Date'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Content Type</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='ContentType'></span></td>
</tr>
<tr>
<td class='ms-formlabel'><span class='ms-standardheader'>Attachments</span></td>
<td class='ms-formbody'><span class='hillbillyForm' data-internalname='Attachments'></span></td>
</tr>
</table>